target/*
build/*
logs/*
.settings/*
.gradle/*
.classpath
.project
.idea
*.iml
/target
/build
/logs
.sts4-cache/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
_site/
